@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

.App {
  text-align: center;
}

/*Zoom effect from W3 Schools*/

.zoom {
  transition: transform .2s; /* Animation */
  width: auto;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: solid 2px white;
}

#main {
  width: 800px;
}

.zoom:hover {
  transform: scale(1.1);
}

#title {
  font-family: 'Notable';
}

.has-drop-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
